.table {
    font-size: 14px;
}

// Pagination styles from Paragon.
.page-link {
    border-radius: 0 !important;
    div {
        display: inline-block;
    }
}

.page-item > .btn {
    transition: none;
}
