.manage-subscription {
  .add-users-dropdown {
    .dropdown-menu {
      z-index: $zindex-fixed;
    }
  }

  .subscription-card,
  .support-card {
    .card-title {
      @extend .h4;
    }
  }

  .subscription-card {
    // width: 100%;
  }

  @include media-breakpoint-up(lg) {
    .add-users-dropdown {
      float: right;

      .dropdown-menu {
        left: inherit;
        right: 0;
      }
    }
  }
}
