.manage-subscription {
    display: flex;
    flex-direction: column;
    flex: 1;

    .add-users-dropdown {
        .dropdown-menu {
            z-index: $zindex-fixed;
        }
    }

    .support-card {
        .card-title {
            @extend .h4;
        }
    }

    .subscription-card {
        margin-bottom: ($spacer * 1.875);

        @include media-breakpoint-down(sm) {
            .pgn__card-header {
                flex-direction: column;
            }

            .pgn__card-header-actions {
                text-align: right;
            }

            .card-body {
                & > span {
                    margin-left: 1rem;
                }

                .row {
                    margin: 1rem 0 !important;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .add-users-dropdown {
            float: right;

            .dropdown-menu {
                left: inherit;
                right: 0;
            }
        }
    }
}

.license-actions {
    .btn {
        @extend .mr-2;

        &:last-child {
            @extend .mr-0;
        }
    }
}

.pgn__modal-title .enroll-header {
    display: inline-block;
    background-color: transparent;
    color: $red;
}
