.table {
    font-size: 0.875rem;

    th.sortable > button {
        padding-left: 0;
        font-size: 0.875rem;
        font-weight: 600;
        text-align: left;
        cursor: pointer;
    }
}
