{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie 11"]
        }
      }
    ],
    "babel-preset-react"
  ],
  "plugins": [
    "emotion",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
