{
  "extends": "@edx/eslint-config",
  "parser": "@babel/eslint-parser",
  "rules": {
    //babel-eslint parser is breaking on template literals right now
    "template-curly-spacing": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "config/*.js",
          "**/*.test.jsx",
          "**/*.test.js"
        ]
      }
    ],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }],
    "jsx-a11y/label-has-for": [ "error", {
      "required": {
          "every": [ "nesting", "id" ]
      },
      "allowChildren": true
    }],
    "jsx-a11y/label-has-associated-control": [ 2, {
      "controlComponents": ["Input"],
      "assert": "either",
      "depth": 3
    }],
    "react/state-in-constructor": [0],
    // babel-eslint parser is breaking on template literals right now
    // This is a copy from airbnb's indent rule with 'TemplateLiteral' added to ignoredNodes.
    "indent": ["error", 2, {
      "SwitchCase": 1,
      "VariableDeclarator": 1,
      "outerIIFEBody": 1,
      "FunctionDeclaration": {
        "parameters": 1,
        "body": 1
      },
      "FunctionExpression": {
        "parameters": 1,
        "body": 1
      },
      "CallExpression": {
        "arguments": 1
      },
      "ArrayExpression": 1,
      "ObjectExpression": 1,
      "ImportDeclaration": 1,
      "flatTernaryExpressions": false,
      "ignoredNodes": ["TemplateLiteral", "JSXElement", "JSXElement > *", "JSXAttribute", "JSXIdentifier", "JSXNamespacedName", "JSXMemberExpression", "JSXSpreadAttribute", "JSXExpressionContainer", "JSXOpeningElement", "JSXClosingElement", "JSXFragment", "JSXOpeningFragment", "JSXClosingFragment", "JSXText", "JSXEmptyExpression", "JSXSpreadChild"]
    }],
    "import/no-import-module-exports": 0
  },
  "env": {
    "jest": true
  },
  "globals": {
    "newrelic": false
  }
}
