.modal-dialog.license-revoke {
  .modal-body {
    padding: 0;

    .alert-warning {
      border-radius: 0;
      margin-bottom: 0;
      border-top: 0;
      border-right: 0;
      border-left: 0;
    }

    .license-details {
      padding: 1rem 1.75rem;
    }
  }
}
