@import "../../colors";

.floating-collapsible {
  width: 25rem;
  border-radius: 6px;
  @include pgn-box-shadow(4, "down");

  .floating-collapsible__trigger {
    background-color: $product-tours-background-color;
    color: $white;
  }
}