.hero {
  background-repeat: no-repeat;
  background-color: $info;
  background-position: center;
  background-size: cover;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  h1 {
    color: $white;
    margin: 0
  }

  img {
    max-width: 90px;
  }
}
