.hero {
  background-repeat: no-repeat;
  background-color: $primary-700;
  background-position: center;
  background-size: cover;
  min-height: 8rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem;

  h1 {
    color: $white;
    margin: 0
  }

  img {
    max-width: 90px;
  }
}
