.hero {
    background: url(../../images/heading-banner-bg.png);
    background-repeat: no-repeat;
    background-color: #2699cf;
    background-position: center;
    background-size: cover;

    h1 {
        color: #ffffff;
    }

    img {
        max-width: 198px;
    }
}
