.row.equal-col-height {
    display: flex;
    flex-wrap: wrap;

    > [class*="col-"] {
        display: flex;
    }

    .card {
        flex: 1;
    }
}

.download-btn div {
    display: inline-block;
}
