$white: #FFFFFF;

.product-tours {
  .info-button {
    padding: 0;
    transform: translate(-1rem, -3rem);
    background-color: $white;

    .pgn__icon.btn-icon__icon {
      width: 100%;
      height: 100%;
    }

    .btn-icon__icon-container {
      display: default;
      align-self: normal;
    }
  }
}

.pgn__checkpoint {
  border-top: 8px solid #D23228;
}

.pgn__checkpoint-overlay {
  z-index: 1050;
}

.modal-image {
  height: 150px;
  margin-bottom: 1rem;
}