.product-tours {
  .info-button {
    padding: 0;

    .pgn__icon.btn-icon__icon {
      width: 100%;
      height: 100%;
    }

    .btn-icon__icon-container {
      display: default;
      align-self: normal;
    }
  }
}
