@import "~@edx/brand/paragon/variables";

.loading {
  background: #f2f8fb;
  font-size: $font-size-lg;

  &.table-loading,
  &.request-codes,
  &.support,
  &.admin-register,
  &.user-activation,
  &.subscriptions {
    height: 360px;
  }

  &.overview,
  &.coupons {
    height: 180px;
  }
}
