.loading {
    background: #f2f8fb;
    font-size: 1.125rem;
    
    &.table-loading,
    &.request-codes,
    &.support,
    &.admin-register {
        height: 360px;
    }

    &.overview,
    &.coupons {
        height: 180px;
    }
}
