@import "~@edx/paragon/scss/edx/utilities-only";

.enterprise-app {
    position: relative;

    .content-wrapper {
        padding: 10px;

        @include media-breakpoint-up(lg) {
            & {
                // If we change the width of the icon-only menu links in the Sidebar navigation, 
                // we will also need to update the padding-left to ensure correct spacing.
                padding-left: 51px;
            }
        }
    }
}
