header {
    border-bottom: 1px solid #d4d4d4;

    .navbar-brand {
        max-width: 100px;
    }
    
    .dropdown > button {
        color: #636c72;
        background: #ffffff;
    }

    .user-profile-img {
        width: 32px;
    }
}
