.analytics-stat-number {
    font-size: 2.5rem;
}

.analytics-chart-container {
    position: relative;
    min-height: 40vh;

    &.is-fetching::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($white, .7);
        z-index: 1;
    }

    .spinner-centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
}
