.sidebar {
  background: $gray-100;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zindex-fixed;

  &.expanded {
    width: auto;

    &.has-shadow {
      box-shadow: 6px 0 10px -6px rgba(0, 0, 0, 0.25);
    }
  }

  .sidebar-content {
    .nav {
      position: sticky;
      top: 0;

      .nav-link {
        &.active {
          background: $primary-200;

          &:hover,
          &:focus {
            background: $primary-300;
          }
        }

        &:hover,
        &:focus {
          background: $gray-200;
        }
      }
    }
  }
}
