footer {
  .logo-links {
    display: flex;
    align-items: center;

    .logo {
      border-right: 1px solid #d4d4d4;
      padding: 0 1.5rem;

      img {
        max-height: 60px;
        max-width: 100px;
        width: auto;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
        padding-right: 0;
      }
    }
  }

  .nav-item {
    border-right: 1px solid #d4d4d4;

    &:last-child {
      border-right: 0;
    }

    .nav-link {
      padding: 0 1rem;
    }
  }

  .footer-links {
    min-width: 410px;
  }
}

// xs
@media (max-width: 767px) {
  footer {
    .nav {
      justify-content: flex-start !important;
      margin: 20px 0 0;
    }
  }
}
