.bulk-enrollment {
  .alert {
    margin-top: 2rem;
  }
  .enroll-button {
    padding-left: 0;
  }
}

.be-review-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .card {
    @extend .mb-1;
  }

  .card-body {
    @extend .py-2;
    @extend .px-3
  }

  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.sticky-stepper-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
