// ... Any custom SCSS variables should be defined here

@import "~@edx/paragon/scss/edx/theme.scss";
@import "~@edx/paragon/scss/edx/fonts.scss"; // Roboto

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

body {
    overflow-x: hidden;
}

form {
    label {
        .required {
            color: $danger;
            margin-left: 4px;
        }
    }

    textarea {
        resize: none;
    }
}

.container-fluid {
    width: 100%;
    max-width: initial;
    padding-left: 15px;
    padding-right: 15px;
}
