// ... Any custom SCSS variables should be defined here
$modal-max-width: 650px;

$btn-focus-box-shadow: 0;

@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@edx/paragon/scss/core/core";
@import "~@edx/frontend-enterprise-catalog-search";
@import "~@edx/brand/paragon/overrides";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "./components/EnterpriseApp/EnterpriseApp";
@import "./components/CodeSearchResults/CodeSearchResults";
@import "./components/Coupon/Coupon";
@import "./components/CouponDetails/CouponDetails";
@import "./components/FileInput/FileInput";
@import "./components/NumberCard/NumberCard";
@import "./components/RequestCodesPage/RequestCodesPage";
@import "./components/Sidebar/Sidebar";
@import "./components/subscriptions/styles/";
@import "./components/StatusAlert/StatusAlert";
@import "./components/LoadingMessage/LoadingMessage";
@import "./components/TableComponent/TableComponent";
@import "./components/TableLoadingOverlay/TableLoadingOverlay";
@import "./components/Hero/Hero";
@import "./components/BulkEnrollmentPage/BulkEnrollment";
@import "./components/Admin/Admin";
@import "./components/settings/settings";


body {
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div.enterprise-app {
  flex: 1;
}

footer {
  flex: none;
}

form {
  label {
    .required {
      color: $danger;
      margin-left: 4px;
    }
  }

  textarea {
    resize: none;
  }
}

.container-fluid {
  width: 100%;
  max-width: none;
  padding-left: 15px;
  padding-right: 15px;
}

.toast-container {
  z-index: $zindex-popover;
}

.modal {
  .modal-dialog {
    max-width: $modal-max-width;
  }
}
