@import "~@edx/edx-bootstrap/sass/edx/theme";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "~@edx/paragon/src/SearchField/SearchField";
@import "~@edx/paragon/src/Pagination/Pagination";
@import "~@edx/paragon/src/Dropdown/Dropdown";
