.group-detail-card {
  background-color: $light-200;
  .card-button {
    justify-content: flex-start !important;
  }
  .pgn__card-section {
    padding: .25rem 1.25rem 1.25rem 1.25rem;
  }
}

.learner-detail-card {
  align-items: center;
  padding-top: 2rem; 
  width: 25rem;
  background-color: $light-200;
}
.learner-detail-icon {
  height: 75px;
  width: 75px;
  background: black;
  border-radius: 50%;
  padding: 10px;
  color: white;
}