@import "~@edx/brand/paragon/variables";

.lms-card-content .pgn__card-header-content {
  flex-grow: 1 !important;
}

.lms-icon {
  max-width: 35px;
}

.lms-card-hover {
  &:hover {
    box-shadow: $box-shadow;
    cursor: pointer;
  }

  &:focus,
  &.focus {
    box-shadow: $box-shadow;
    outline: none;
    border-color: $dark-300;
  }
}

.lms-card {
  width: 22rem !important;
  box-shadow: $box-shadow-sm;

  &:hover {
    box-shadow: $box-shadow;
    cursor: pointer;
  }

  &:focus,
  &.focus {
    box-shadow: $box-shadow;
    outline: none;
    border-color: $dark-300;
  }
}

.button-link {
  text-decoration: none;
  color: $white;
  &:hover {
    text-decoration: none;
    color: $white;
  }
}

.sso-alert-modal-margin {
  margin-right: 15% !important;
}

.lms-card-title-overflow {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.existing-lms-card-width {
  width: 70rem !important;
}


.sso-create-form {
  width: 65vw;
}

.sso-create-form-control {
  width: 100%;
}

.sso-connect-step-copy-form > .form-control {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.sso-connect-step-copy-button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.sso-connect-success-icon {
  color: green;
}

.image-preview {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: 1px dashed $gray-500;
  min-height: 200px;
  align-items: center;
}

.image-preview img {
    max-height: 150px;
    max-width: 300px;
    width: auto;
}

