name: node_js CI

on:
  push:
    branches:
      - 'master'
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [12, 14, 16]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Nodejs
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - name: Validate no uncommitted package-lock changes
      run: make validate-no-uncommitted-package-lock-changes
    - name: Install dependencies
      run: npm ci
    - name: Lint
      run: npm run lint
    - name: Test
      run: npm run test
    - name: Coverage
      uses: codecov/codecov-action@v2
    - name: Build
      run: npm run build
